<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @gym.name %> - RateMyGym</title>
  
  <!-- Include the new CSS for reviews -->
  <%= stylesheet_link_tag 'gymReviews', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <button class="back-button" onclick="window.location.href = '<%= home_index_path %>';"> 
    ← Back 
  </button>

  <div class="wrapper">
    <header>
      <%= image_tag @gym.image_url, alt: "Gym image", class: "full-width-image" %>
      <h1>Gym Reviews for <%= @gym.name %></h1>
      <p class="text"><%= @gym.description %></p>
    </header>
    
    <div class="averages-section">
      <h2 class="averageReviews">Average Reviews</h2>
      <div class="average-rating">
        <div class="average-content">
          <p class="average-titles"><strong>Average Machines Rating:</strong></p>
          <div class="star-rating">
            <%= star_rating_display(@average_machines_rating) %>
          </div>
        </div>
        <br>
      </div>

      <div class="average-rating">
        <div class="average-content">
          <p class="average-titles"><strong>Average Staff Rating:</strong></p>
          <div class="star-rating">
            <%= star_rating_display(@average_staff_rating) %>
          </div>
        </div>
        <br>
      </div>

      <div class="average-rating">
        <div class="average-content">
          <p class="average-titles"><strong>Average Location Rating:</strong></p>
          <div class="star-rating">
            <%= star_rating_display(@average_location_rating) %>
          </div>
        </div>
        <br>
      </div>

      <div class="average-rating">
        <div class="average-content">
          <p class="average-titles"><strong>Average Cleanliness Rating:</strong></p>
          <div class="star-rating">
            <%= star_rating_display(@average_cleanliness_rating) %>
          </div>
        </div>
        <br>
      </div>

      <div class="average-rating">
        <div class="average-content">
          <p class="average-titles"><strong>Average Gym Atmosphere Rating:</strong></p>
          <div class="star-rating">
            <%= star_rating_display(@average_atmosphere_rating) %>
          </div>
        </div>
        <br>
      </div>


      
      <!-- Link to the new review page -->
      <button onclick="window.location.href = '<%= new_gym_review_path(@gym) %>';" class="submit-button">
        Write a Review
      </button>
      

      <!-- Display existing reviews -->
      <h3 class="leaveReviewSign">Reviews:</h3>
<% @reviews.each do |review| %>
  <div class="review-item">
    <br>
    <p><strong>Reviewed by:</strong> <%= review.user.username %></p>
    <br>
    <p><strong>Machines Rating:</strong> <%= '★' * (review.rating || 0) + '☆' * (5 - (review.rating || 0)) %></p>
    <p><strong>Staff Rating:</strong> <%= '★' * (review.staff_rating || 0) + '☆' * (5 - (review.staff_rating || 0)) %></p>
    <p><strong>Location Rating:</strong> <%= '★' * (review.location_rating || 0) + '☆' * (5 - (review.location_rating || 0)) %></p>
    <p><strong>Cleanliness Rating:</strong> <%= '★' * (review.clean_rating || 0) + '☆' * (5 - (review.clean_rating || 0)) %></p>
    <p><strong>Gym Atmosphere Rating:</strong> <%= '★' * (review.atmosphere_rating || 0) + '☆' * (5 - (review.atmosphere_rating || 0)) %></p>

    <br>
    <p><strong>Comment:</strong> <%= review.comment %></p>
    <br>
    <p><em>Posted on <%= review.created_at.strftime("%b %d, %Y") %></em></p>
    
    <% if review.user_id == current_user.id %>
      <%= link_to 'Edit', edit_gym_review_path(@gym, review), class: "btn btn-edit" %>
      <%= link_to 'Delete', gym_review_path(@gym, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-delete" %>
    <% end %>
    
    <hr>
  </div>
<% end %>

      <!-- Include the new JavaScript for interactivity -->
      <%= javascript_include_tag 'gymReviews', 'data-turbo-track': 'reload' %>
    </div>
  </div>
</body>
</html>
